@import "/src/utils/variables/colors";

.password_container_dark, .password_container_light {
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.password_container_dark {
  color: $main-light;
}

.password_container_light{
  color: $main-dark;
}
