@import "/src/utils/variables/colors";

.navbar_dark, .navbar_light {
  position: sticky;
  height: 10vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;

  .left {
    margin-left: 25px;
    display: flex;
    align-items: center;

    .logo {
      text-decoration: none;
      margin-right: 16px;
    }

    .icon {
      cursor: pointer;
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin-right: 25px;
    }
  }
}

.navbar_dark {
  background-color: $main-dark;

  .left {
    .logo {
      color: $main-green;
    }

    .icon {
      color: $main-light;
    }
  }
}

.navbar_light {
  background-color: $main-light;

  .left {
    .logo {
      color: $main-blue;
    }

    .icon {
      color: $main-dark;
    }
  }
}
