.navbar {
  position: sticky;
  height: 10vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;

  .left {
    margin-left: 25px;
    display: flex;
    align-items: center;

    .logo {
      text-decoration: none;
      color: greenyellow;
      margin-right: 16px;
    }

    .iconLight {
      color: #282828;
      cursor: pointer;
    }

    .iconDark {
      color: #ffffff;
      cursor: pointer;
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin-right: 25px;
    }
  }
}
