.main{
  display: flex;
  flex-direction: column;

  .categoryContainer{
    margin-bottom: 8px;
    h1{
      color: white;
      margin-left: 16px;
      margin-bottom: 8px;
    }
  }

  .eventsContainer{
    display: flex;
  }
}
