@import "/src/utils/variables/colors";
@import "src/utils/variables/sizes";

.btn_container {
  margin: 0 4px;

  .btn_dark, .btn_light {
    min-width: 150px;
    height: 40px;
    border-radius: 8px;
    border-color: transparent;
    cursor: pointer;
    font-size: $text-3xs;
    font-weight: 500;
    transition: .25s;
    padding: 8px;
  }

  .btn_dark {
    background-color: $main-green;
    color: $main-dark;

    &:hover {
      background-color: $hover-green;
    }
  }

  .btn_light {
    background-color: $main-blue;
    color: $main-dark;

    &:hover {
      background-color: $hover-blue;
    }
  }

  .btn_alt_dark, .btn_alt_light {
    min-width: 150px;
    height: 40px;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    font-size: $text-3xs;
    font-weight: 500;
    transition: .25s;
    padding: 8px;
  }

  .btn_alt_dark {
    border: 2px solid $main-green;
    color: $main-light;

    &:hover {
      border-color: $hover-green;
      color: $hover-green;
    }
  }

  .btn_alt_light {
    border: 2px solid $main-blue;
    color: $main-dark;

    &:hover {
      border-color: $hover-blue;
      color: $hover-blue;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .btn_container {
    margin: 0 4px;

    .btn_dark, .btn_light {
      font-size: $text-2xs;
    }

    .btn_alt_dark, .btn_alt_light {
      font-size: $text-2xs;
    }
  }
}
