.btn {
  min-width: 150px;
  height: 40px;
  background-color: greenyellow;
  border-radius: 8px;
  border-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: black;
  transition: .25s;
  padding: 8px;

  &:hover {
    background-color: lawngreen;
  }

}

.btnAlt {
  min-width: 150px;
  height: 40px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid greenyellow;
  cursor: pointer;
  font-size: 16px;
  color: white;
  transition: .25s;
  padding: 8px;

  &:hover {
    border-color: lawngreen;
    color: lawngreen;
  }

}
