@import "/src/utils/variables/colors";
@import "/src/utils/variables/sizes";

.main_container_dark, .main_container_light {
  width: 100%;
  min-height: 90vh;

  .text_decoration {
    width: auto;
    height: auto;
    text-decoration: none;
    font-size: 1rem;
  }

  .event_detail {
    display: flex;
    flex-direction: column;
    margin: .5rem 1rem;

    .left_side {
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 1.25rem;
      }

      h2 {
        font-size: 1.1rem;
      }

      h3 {
        font-size: 1rem;
      }

      p {
        font-size: .85rem;
      }

      img {
        width: 300px;
        height: 250px;
        object-fit: cover;
      }
    }

    .right_side {
      display: flex;
      justify-content: center;
      margin-top: .5rem;
      margin-left: 0;

      p {
        font-size: .85rem;
      }

      .inner_right_side {
        display: flex;
        flex-direction: column;
        margin-top: .5rem;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main_container_dark, .main_container_light {
    .text_decoration {
      font-size: 1.25rem;
    }

    .event_detail {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      padding: .5rem 1rem;

      .left_side {
        width: 50vw;
        padding-right: 1rem;

        h1 {
          font-size: 2.2rem;
        }

        h2 {
          font-size: 2rem;
        }

        h3 {
          font-size: 1.8rem;
        }

        p {
          font-size: 1.25rem;
        }

        img {
          width: 100%;
          height: 450px;
          object-fit: cover;
        }
      }

      .right_side {
        padding-left: 1rem;
        margin-top: 0;

        p {
          font-size: 1.25rem;
        }

        .inner_right_side {
          display: flex;
          flex-direction: row;
          margin-top: .5rem;
        }
      }
    }
  }
}

.main_container_dark {
  color: $main-light;

  .text_decoration {
    color: $main-green;

    &:hover {
      color: $hover-green;
    }
  }

  .event_detail {
    .left_side {
      h1, h2, h3, p {
        color: $main-light;
      }
    }

    .right_side {
      p {
        color: $main-light;
      }
    }
  }
}

.main_container_light {
  color: $main-light;

  .text_decoration {
    color: $main-blue;

    &:hover {
      color: $hover-blue;
    }
  }

  .event_detail {
    .left_side {
      h1, h2, h3, p {
        color: $main-dark;
      }
    }

    .right_side {
      p {
        color: $main-dark;
      }
    }
  }
}
