@import "/src/utils/variables/colors";

.mainEvents {
  display: flex;
  flex-direction: column;

  .title_dark, .title_light {
    display: flex;
    align-self: flex-start;
    margin-left: 1rem;
    font-size: 1.25rem;
  }

  .description_dark, .description_light {
    font-size: 16px;
    display: flex;
    align-self: flex-start;
    margin: 4rem 8rem;
  }

  .list {
    display: flex;
    justify-content: center;
    width: 90%;
  }

  .title_dark, .description_dark {
    color: $main-light;
  }

  .title_light, .description_light {
    color: $main-dark;
  }
}

@media only screen and (min-width: 1200px) {
  .mainEvents {
    .title_dark, .title_light {
      margin-left: 2rem;
      font-size: 2rem;
    }

    .description_dark, .description_light {
      font-size: 1rem;
      margin: 4rem 8rem;
    }

    .list {
      justify-content: flex-start;
    }
  }
}
