@import "/src/utils/variables/colors";

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .inner_container_dark, .inner_container_light {
    margin-right: 16px;
    position: absolute;
    top: 11vh;
    right: 0;

    .full_icon, .empty_icon {
      cursor: pointer;
      transition: .25s;
    }
  }

  .inner_container_dark {
    .full_icon, .empty_icon {
      color: $main-green;

      &:hover {
        color: $hover-green;
      }
    }
  }

  .inner_container_light {
    .full_icon, .empty_icon {
      color: $main-blue;

      &:hover {
        color: $hover-blue;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main_container {
    flex-direction: row;

    .inner_container_dark, .inner_container_light {
      position: relative;
      top: 0;
    }
  }
}
