@import "/src/utils/variables/colors";

.main_categories {
  display: flex;
  flex-direction: column;

  .title_dark, .title_light {
    display: flex;
    align-self: flex-start;
    margin-left: 1rem;
    font-size: 1.25rem;
  }

  .title_dark {
    color: $main-light;
  }

  .title_light {
    color: $main-dark;
  }

  .list {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 90%;
  }
}

@media only screen and (min-width: 1200px) {
  .main_categories {
    .title_dark, .title_light {
      margin-left: 2rem;
      font-size: 2rem;
    }

    .list {
      justify-content: flex-start;
    }
  }
}
