@import "/src/utils/variables/colors";
@import "/src/utils/variables/sizes";

.btn_dark, .btn_light {
  margin-left: 1rem;
  min-width: 100px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: $text-2xs;
  transition: .25s;
  padding: .5rem;
}

.btn_dark {
  border-bottom: 2px solid $main-green;
  color: $main-green;

  &:hover {
    border-color: $hover-green;
    color: $hover-green;
  }
}

.btn_light {
  border-bottom: 2px solid $main-blue;
  color: $main-blue;

  &:hover {
    border-color: $hover-blue;
    color: $hover-blue;
  }
}
