@import "/src/utils/variables/colors";

.container_dark, .container_light {
  margin-right: 1rem;

  .icon {
    cursor: pointer;
    position: fixed;
    right: 16px;
    top: 25px;
  }

  .web {
    display: none;
  }

  .mobile {
    .elements {
      display: none;
    }

    .elements_active {
      display: flex;

      .active_dark, .active_light {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
      }

      .active_dark {
        background-color: $main-dark;
      }

      .active_light {
        background-color: $main-light;
      }

      .element {
        margin-top: 16px;
      }

      .element:first-child {
        margin-top: 64px;
      }
    }
  }
}

.container_dark {
  .icon {
    color: $main-green;
  }
}

.container_light {
  .icon {
    color: $main-blue;
  }
}

@media only screen and (min-width: 1200px) {
  .container_dark, .container_light {
    .web {
      display: flex;
    }

    .mobile {
      display: none;
    }
  }
}
