@import "/src/utils/variables/colors";

.main_container_dark, .main_container_light {
  display: flex;
  align-items: center;
}

.main_container_dark{
  h2{
    color: $main-light;
  }

  h3 {
    margin-left: 32px;
    color: $main-light;
  }
}

.main_container_light{
  h2{
    color: $main-dark;
  }

  h3 {
    margin-left: 32px;
    color: $main-dark;
  }
}
