.main {
  color: white;
  position: relative;

  .textDecoration {
    width: auto;
    height: auto;
    text-decoration: none;
    color: greenyellow;
    font-size: 20px;
    margin-left: 32px;
    cursor: pointer;
  }

  .event_detail {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 16px 32px 0 32px;

    .leftSide{
      margin-right: 16px;

      img {
        width: 800px;
        height: 450px;
        object-fit: cover;
      }
    }

    .rightSide{
      margin-left: 16px;
    }
  }
}
