@import "/src/utils/variables/colors";

.main_dark, .main_light {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;

  .img {
    width: 96px;
    height: 96px;
    border-radius: 48px;
    object-fit: cover;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .user {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0;
      margin-bottom: 8px;

      h1 {
        font-size: 28px;
      }

      h2 {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main_dark, .main_light {
    height: 14vh;
    flex-direction: row;

    .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      .user {
        margin-bottom: 0;
        margin-left: 8px;
        align-items: flex-start;

        h1{
          font-size: 32px;
        }
        h2{
          font-size: 28px;
        }
      }
    }
  }
}

.main_dark {
  color: $main-light;
}

.main_light {
  color: $main-dark;
}
