@import "/src/utils/variables/colors";

.comment_submit_dark, .comment_submit_light {
  width: 15%;
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

.comment_submit_dark {
  color: $main-light;
  border-bottom: 3px solid $main-light;

  &:hover {
    border-bottom-color: $hover-green;
    color: $hover-green;
  }
}

.comment_submit_light {
  color: $main-dark;
  border-bottom: 3px solid $main-dark;

  &:hover {
    border-bottom-color: $hover-blue;
    color: $hover-blue;
  }
}
