/*Form Input Styles*/
.mainForm{
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .formInput{
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0 10px 0 10px;
    color: white;
  }

  .error{
    margin: 2px 0 2px 0;
    color: white;
    font-size: 16px;
  }
}

/*Submit Input Styles*/
.submitInput {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid greenyellow;
  color: greenyellow;
  cursor: pointer;
  font-size: 16px;
  transition: .25s;
  margin-top: 20px;

  &:hover{
    background-color: greenyellow;
    color: white;
  }
}

/*Textarea Input Styles*/
.mainTextarea{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;

  .textareaInput{
    width: 300px;
    resize: none;
    border-radius: 8px;
    border: 2px solid white;
    padding: 5px 10px;
    color: white;
  }

  .error{
    margin: 2px 0 2px 0;
    color: white;
    font-size: 16px;
  }
}

/*File Input Styles*/
.mainFile{
  width: 300px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .fileInput{
    width: 300px;
    height: 40px;
    padding: 0 10px 0 10px;
    color: white;

    &::file-selector-button{
      border: 2px solid white;
      cursor: pointer;
      background-color: transparent;
      color: white;
      width: 150px;
      height: 40px;
      border-radius: 8px;
      margin-right: 10px;
    }
  }

  .img{
    width: 300px;
    height: 168px;
  }
}
