@import "/src/utils/variables/colors";

.main_textarea {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;

  .textarea_input_dark, .textarea_input_light {
    width: 300px;
    resize: none;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: transparent;
  }

  .textarea_input_dark {
    border: 2px solid $main-light;
    color: $main-light;
  }

  .textarea_input_light {
    border: 2px solid $main-dark;
    color: $main-dark;
  }

  .error_dark, .error_light {
    margin: 2px 0 2px 0;
    font-size: 16px;
  }

  .error_dark {
    color: $main-light;
  }

  .error_light {
    color: $main-dark;
  }
}
