/*Textarea Input Styles*/
.mainTextarea{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;

  .textareaInput{
    width: 300px;
    resize: none;
    border-radius: 8px;
    border: 2px solid white;
    padding: 5px 10px;
    color: white;
  }

  .error{
    margin: 2px 0 2px 0;
    color: white;
    font-size: 16px;
  }
}
