@import "/src/utils/variables/colors";

.comment_input_dark, .comment_input_light {
  width: 85%;
  height: 40px;
  border: none;
  padding: 0 .5rem;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

.comment_input_dark {
  border-bottom: 3px solid $main-light;
  color: $main-light;

  &:focus {
    outline: none;
    border-bottom-color: $hover-green;
  }
}

.comment_input_light {
  border-bottom: 3px solid $main-dark;
  color: $main-dark;

  &:focus {
    outline: none;
    border-bottom-color: $hover-blue;
  }
}
