@import "/src/utils/variables/colors";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .arrow_left_dark, .arrow_left_light {
    position: absolute;
    display: flex;
    align-self: flex-start;
    justify-self: center;
    left: 10px;
    background: transparent;
    border: none;
    font-size: 32px;
    cursor: pointer;
    z-index: 1;
  }

  .arrow_left_dark {
    color: $main-light;
  }

  .arrow_left_light {
    color: $main-dark;
  }

  .arrow_right_dark, .arrow_right_light {
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 32px;
    cursor: pointer;
    z-index: 1;
  }

  .arrow_right_dark {
    color: $main-light;
  }

  .arrow_right_light {
    color: $main-dark;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    .arrow_left_dark, .arrow_left_light {
      left: 25px;
    }

    .arrow_right_dark, .arrow_right_light {
      right: 25px;
    }
  }
}
