@import "/src/utils/variables/colors";

.main_container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;

  .category_container {
    margin-bottom: 8px;

    .text_dark, .text_light {
      margin-left: 16px;
      margin-bottom: 8px;
    }

    .text_dark {
      color: $main-light;
    }

    .text_light {
      color: $main-dark;
    }
  }

  .events_container {
    display: flex;
    flex-wrap: wrap;
  }
}
