@import "/src/utils/variables/colors";

.main_container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .form_container_dark, .form_container_light {
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    h1 {
      font-size: 24px;
    }
  }

  .form_container_dark {
    border: 2px solid $main-light;

    h1 {
      color: $main-light;
    }
  }

  .form_container_light {
    border: 2px solid $main-dark;

    h1 {
      color: $main-dark;
    }
  }

  @media only screen and (min-width: 1200px) {
    .form_container_dark, .form_container_light {
      width: 400px;
      height: 600px;

      h1 {
        font-size: 32px;
      }
    }
  }
}
