@import "/src/utils/variables/colors";

.submit_input_dark, .submit_input_light {
  width: 80%;
  height: 36px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: .25s;
  margin-top: .75rem;
  background-color: transparent;
}

@media only screen and (min-width: 1200px) {
  .submit_input_dark, .submit_input_light {
    height: 40px;
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
}

.submit_input_dark {
  border: 2px solid $main-green;
  color: $main-green;

  &:hover {
    background-color: $hover-green;
    color: $main-light;
    border-color: $hover-green;
  }
}

.submit_input_light {
  border: 2px solid $main-blue;
  color: $main-blue;

  &:hover {
    background-color: $hover-blue;
    color: $main-dark;
    border-color: $hover-blue;
  }
}
