.auth_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

@media only screen and (min-width: 1200px) {
  .auth_form {
    margin-top: 3rem;
  }
}
