@import "/src/utils/variables/colors";

.main_textarea {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: .75rem 0;

  .textarea_input_dark, .textarea_input_light {
    width: 200px;
    resize: none;
    border-radius: 8px;
    padding: .25rem .5rem;
    background-color: transparent;
  }

  .textarea_input_dark {
    border: 2px solid $main-light;
    color: $main-light;
  }

  .textarea_input_light {
    border: 2px solid $main-dark;
    color: $main-dark;
  }

  .error_dark, .error_light {
    margin: 2px 0 2px 0;
    font-size: 1rem;
  }

  .error_dark {
    color: $main-light;
  }

  .error_light {
    color: $main-dark;
  }
}

@media only screen and (min-width: 1200px) {
  .main_textarea {
    width: 300px;

    .textarea_input_dark, .textarea_input_light {
      width: 300px;
    }

    .error_dark, .error_light {
      margin: 2px 0 2px 0;
      font-size: 1rem;
    }
  }
}
