@import "/src/utils/variables/colors";

.main_categories {
  display: flex;
  flex-direction: column;

  .title_dark, .title_light {
    display: flex;
    align-self: flex-start;
    margin-left: 16px;
    font-size: 20px;
  }

  .title_dark {
    color: $main-light;
  }

  .title_light {
    color: $main-dark;
  }

  .list {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 90%;
    position: relative;

    .list_element_dark, .list_element_light {
      min-width: 80%;
      padding: 8px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      margin: 8px 16px;
      text-decoration: none;
    }

    .list_element_dark {
      border: 2px solid $main-light;

      h1 {
        color: $main-light;
      }
    }

    .list_element_light {
      border: 2px solid $main-dark;

      h1 {
        color: $main-dark;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main_categories {
    .title_dark, .title_light {
      margin-left: 32px;
      font-size: 32px;
    }

    .list {
      justify-content: flex-start;
      height: 150px;
      width: 90%;

      .list_element_dark, .list_element_light {
        min-width: 18%;
      }
    }
  }
}
