/*Category List Styles*/
.mainCategories{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

  .title{
    color: white;
    margin-left: 16px;
  }

  .list{
    display: flex;
    justify-content: flex-start;
    height: 150px;
    width: 100%;
    position: relative;

    .list_element{
      width: 20%;
      padding: 8px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid white;
      border-radius: 8px;
      margin: 8px 16px;
      cursor: pointer;

      h1{
        color: white;
      }

    }
  }
}

/*Arrows Styles*/

.arrow_left{
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: white;
}

.arrow_right{
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: white;
}

.textDecoration {
  text-decoration: none;
}
