/*Category List Styles*/
.main_categories {
  display: flex;
  flex-direction: column;

  .title_dark {
    display: flex;
    align-self: flex-start;
    color: #ffffff;
    margin-left: 32px;
  }

  .title_light {
    display: flex;
    align-self: flex-start;
    color: #282828;
    margin-left: 32px;
  }

  .list {
    display: flex;
    justify-content: flex-start;
    height: 150px;
    width: 90%;
    position: relative;

    .list_element_dark {
      min-width: 18%;
      padding: 8px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #ffffff;
      border-radius: 8px;
      margin: 8px 16px;
      text-decoration: none;

      h1 {
        color: #ffffff;
      }

    }

    .list_element_light {
      min-width: 18%;
      padding: 8px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #282828;
      border-radius: 8px;
      margin: 8px 16px;
      text-decoration: none;

      h1 {
        color: #282828;
      }

    }
  }
}

