@import "/src/utils/variables/colors";

.mainEvents {
  display: flex;
  flex-direction: column;

  .title_dark, .title_light {
    display: flex;
    align-self: flex-start;
    margin-left: 16px;
    font-size: 20px;
  }

  .title_dark {
    color: $main-light;
  }

  .title_light {
    color: $main-dark;
  }

  .description_dark, .description_light {
    font-size: 16px;
    display: flex;
    align-self: flex-start;
    margin: 64px 128px;
  }

  .description_dark {
    color: $main-light;
  }

  .description_light {
    color: $main-dark;
  }

  .list {
    display: flex;
    justify-content: center;
    height: 270px;
    width: 90%;
    position: relative;
  }
}

@media only screen and (min-width: 1200px) {
  .mainEvents {
    .title_dark, .title_light {
      margin-left: 32px;
      font-size: 32px;
    }

    .description_dark, .description_light {
      font-size: 16px;
      margin: 64px 128px;
    }

    .list {
      display: flex;
      justify-content: flex-start;
      height: 270px;
      width: 90%;
      position: relative;
    }
  }
}
