@import "/src/utils/scss_variables/colors";

.mainEvents {
  display: flex;
  flex-direction: column;

  .title_dark {
    display: flex;
    align-self: flex-start;
    color: $main-light;
    margin-left: 32px;
  }

  .title_light {
    display: flex;
    align-self: flex-start;
    color: $main-dark;
    margin-left: 32px;
  }

  .description_dark {
    color: $main-light;
    font-size: 16px;
    display: flex;
    align-self: flex-start;
    margin: 64px 128px;
  }

  .description_light{
    color: $main-dark;
    font-size: 16px;
    display: flex;
    align-self: flex-start;
    margin: 64px 128px;
  }

  .list {
    display: flex;
    justify-content: flex-start;
    height: 270px;
    width: 90%;
    position: relative;
  }
}
