/*Events List Styles*/

.mainEvents {
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    align-self: flex-start;
    color: white;
    margin-left: 32px;
  }

  .innerMainEvents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 100%;

    .list {
      display: flex;
      justify-content: flex-start;
      height: 270px;
      width: 90%;
      position: relative;
    }
  }
}

/*Arrows Styles*/

.arrow_left {
  position: absolute;
  display: flex;
  align-self: center;
  justify-self: center;
  left: 25px;
  z-index: 999;
  width: 50px;
  background: transparent;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: white;
}

.arrow_right {
  position: absolute;
  display: flex;
  align-self: center;
  justify-self: center;
  right: 25px;
  z-index: 999;
  width: 50px;
  background: transparent;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: white;
}


