  .add_event_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input_container {
      display: flex;

      .input_left_col {
        margin-right: 8px;
      }

      .input_right_col {
        margin-left: 8px;
      }
    }
  }

