/*Add Event Form Styles*/
.mainAddEvent {
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 8px;

  h1 {
    color: white;
  }

  .addEventForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .inputContainer {
      display: flex;

      .inputLeftCol {
        margin-right: 8px;
      }

      .inputRightCol {
        margin-left: 8px;
      }
    }
  }
}
